* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  max-width: 100vw;

}
i{
  cursor: pointer;
}
.searchIcon{
  font-size: 1rem !important;
  cursor: pointer;
}
.arrowIcon{
   color: #128C7E;

}
.FormatAlignCenterIcon{
  color: rgb(183, 188, 194) !important;
}
.account{
  width: 100% !important;
  height: 100% !important;
  position: relative;
}
::-webkit-scrollbar {
  width: 6px;
  height: 1rem;
}
::-webkit-scrollbar-thumb {
  background-color: #202c33;
  border-radius: 40px;

}
::-webkit-scrollbar-track {
  background-color: transparent;
}
.responsive,.responsive2{
  width: 100%;
left: 0;
}
@media(min-width : 640px) {
  .responsive{
    width:calc(100vw - 410px);
    left: 415px;
  }
}@media(min-width : 640px) {
  .responsive2{
    width: 413px;
    left: 0;
  }
}
.statusDonut{
  font-size: 10px !important;
  font-weight: lighter;
  height: 7rem;
  width: 7rem;

}


